/*new part*/
#aboutRestourant{
    background-color:#373e58;
}
.headPic{
    padding:0 !important;
    background:-webkit-linear-gradient(#e0aa28,rgba(0,0,0,0), #373e58), url("/front-end/resources/img/banner.jpg");
    background:-moz-linear-gradient(#e0aa28, rgba(0,0,0,0), #373e58), url("/front-end/resources/img/banner.jpg");
    background:-o-linear-gradient(#e0aa28, rgba(0,0,0,0), #373e58), url("/front-end/resources/img/banner.jpg");
    background:linear-gradient(#e0aa28, rgba(0,0,0,0), #373e58), url("/front-end/resources/img/banner.jpg");
    background-size:100% 100%;
}
.headPic h2{
    margin:0 !important;
    padding: 2% 0 35% 0%;
    text-align:center;
    color: #373e58;
    font-family: 'Caveat', cursive;
}
.bottomText{
    color:#fff;
}
.bottomText p{
    font-size:12px;
    text-align: justify;
}
#sideBorder{
    position:absolute;
    bottom:5%;
    top:5%;
    right:0;
    border:1px solid #e0aa28;
}
.schedule{
    color:#fff;
}
.schedule h3{
    text-align:center;
    color:#e0aa28;
    font-style: italic;
}
#workingtime td{
    margin-top:2em;
    padding:5px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size:inherit;
    color:#fff;
    border-color:#e0aa28;
    text-align: center;
}
.first{
    border-top:none !important;
}
/*.bottomText p{
    color:#c8d1f3;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size:.95em
}*/

/*new part*/