#location{
    width:50%;
    height:100%;
    background-color:#e0aa28;
    float:left;   
}
#location h1{
    font-family: 'Caveat', cursive;
}
#locationAdress{
    margin-top:1em;
    padding-bottom:10%;
}
#locationAdress p{
    font-size:16px !important;
}
#location p{
    font-family: 'Roboto', sans-serif;
    font-size:12px;
    color:#373e58;
}
#map{
    width:50%;
    height:100%;
    float:left;
    pointer-events:none;
}
.contactForm div{
    width:100%;
}

.contactForm div label{
    font-weight: 400;
    font-family:'Roboto', sans-serif;
}

.cont{
    background-color:silver;
}
#locationAdress p{
    font-size:20px !important;
    line-height: 2em !important;
    text-align: right;
}
#contuct{
    text-align: right;
}
.is-focused input{
    border-bottom-color:rgba(0,0,0,0);
}
.is-focused textarea{
    border-bottom-color:rgba(0,0,0,0);
}
.foothead{
    padding:0;
}
.foothead h2{
    font-family: 'Caveat', cursive;
}
label{
    font-family:'Roboto', sans-serif !important;
}
textarea{
    font-family:'Roboto', sans-serif !important;
}
.butt{
    text-align: center;
}
.butt button{
    background-color: #373e58;
    color:#e0aa28;
}
.butt button:hover{
    background-color: #e0aa28;
    color:#373e58;
}

.scrolloff {
    pointer-events: none;
}