/* Main carousel style */
#article-photo-carousel.carousel {
    width: 100%;
}
.some{
    border:1px solid white;
    border-radius:3px;
}
.indicators{
    position: relative;
    bottom:0;
    width:100%;
    margin-top: 17px;
    text-align: justify;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
}
.indicators a{
    display:inline-block;
    height:50px;
    width:100px;
    overflow:hidden;
    border:1px solid white;
    border-radius:3px;
    margin:2px;
    text-align-last:center;
}
.indicators a:hover{
    border:2px solid #373e58;
    border-radius:3px;
}
.indicators a.ind-active{
    border:2px solid #373e58;
}
.indicators a img{
    height:100%;
    width:100%;
}
.gall{
    background-color:#373e58;
    padding:12%;
}
.margin-right{
    margin-right:0px !important;
}
.margin-left{
    margin-left:0px !important;
}


/* Indicators images style */
/*#article-photo-carousel .article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style 
#article-photo-carousel .article-slide .carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}*/