
#content{
     background-image: url("../img/Menu/pattern.png");
    background-repeat: repeat;
    width:100%;
    height:auto;
    min-height:100%;
}

#logo{
    margin:auto;
}
img{
    display:block;
    margin:auto;
    margin-top:2em;
}
.enter{
    margin-top:5em;
    color:#fff;
}
.tabs{
    height:auto;
}
.create{
    background-color:#fff;
}
.pics{
    width:100%;
    height:auto;
}
.summs{
    margin-top:2%;
}