/*End of Menu bar for the phone and smaller screen view*/
@media screen and (max-width: 900px) {
   #sideBar{
       display:none;
   }
   #content{
       margin-left:0;
       width:100%;
   }
   nav{
       display:block;
   }
}

@media screen and (max-width: 700px) {
    #container {
        margin: 0 !important;
        width: 100%; 
        height: 47.4%;
        margin-top: 15%;
    }
    .title{
        border-bottom:none;
    }
    .title h1{
        font-size: 22px;
        margin-top:5px;
    }
    .item .content{
        padding:0;
        padding-left:5%;
    }
    #aboutRestourant{
        display:none;
    }
    #aboutRestourantMobile{
        display:block;
    }
    .controls{
        display:none;
    }
    #speiseCarte{
        display:none;
    }
    #locationAdress{
        display:none;
    }
    .indicators{
        display:none;
    }
    .info{
        width:75%;
    }
    .price{
        width:25%;
    }
    .foothead{
        display:block;
    }
    #contuct{
        display:none;
    }

    #content .row.anouncement {
        font-size:2em;
        padding: 10px;
    }
    #aboutRestourantMobile > div.aboutResMobile {
        display: block;
    }
    
    #aboutRestourantMobile > div.bannerAbout  {
        display: block;
    }
}

