/*menu start */
.line{
    border-bottom: solid 1pt #8f98bb;
    margin-top:2.5em
}
#title{
    text-align: center;
    font-family: 'Caveat', cursive;
    color:#fff;
}
#title{
    font-family: 'Caveat', cursive;
}
.sections{
    font-family: 'Roboto Light', sans-serif;
    color:#fff;
    margin-top:10px;
}
.sections p{
    text-align: center;
    font-size: 12px;
    letter-spacing: 1.8px;
    cursor:pointer;
}
.sections a{
    text-decoration: none;
    color:#fff;
}
.sub p{
    letter-spacing: 1px;
}

.sub a{
    text-decoration: none;
    color:#fff;
    margin-left:5px;
    margin-right:5px;
}
.items{
    padding-left:2%;
    padding-right:2%;
}
.itemList{
    border-bottom: solid 1pt #e0aa28;
    font-family: 'Roboto Light', sans-serif;
    float:left;
    width:100%;
    height:auto;
}
.itemList h5{
    color:#e0aa28;
    margin-bottom:0;
    font-size:1.3em;
}
.itemList p{
    margin-bottom:0;
    color:#fff;
}
.info{
    float:left;
    width:90%;
    height:auto;
}
.price{
    float:left;
    width:10%;
    height:auto;
}
.price h5{
    font-family: 'Caveat', cursive;
    color:#e0aa28;
    font-size:28px;
    text-align:center;
}
.yellow{
    color:#e0aa28;
    font-weight: bold;
}
.classes{
    text-transform: uppercase;
}
.active-classes{
    background-color:#e0aa28;
    color:#373e58;
    padding:4px;
    border-radius: 12px;
}
/* menu end */