.yell{
    background-color:#e0aa28;
}
.sliderContainer{
    width:100%;
    padding: 0 !important;
}
.carousel-inner .item img{
    width:100% !important;
    min-height: 100%;
}
.item .content {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 50%;
    color: #fff;
    line-height: 3em;
    padding: 0 1em;
    font-size: 1.5em;
    margin: 1% 1% 1% 1%;
    background-color:rgba(0,0,0,.5);
}
.title{
    border-bottom: solid 1pt #e0aa28;
    font-family: 'Roboto', sans-serif;
}
.title h1{
    text-align:left;
    color:#e0aa28;
    font-family: 'Roboto', sans-serif;
}
.about{
    font-family: 'Caveat', cursive;
    line-height: 1;
    font-size: 20px;
}
.controlls{
    height: auto;
    position: absolute;
    bottom: 8%;
    right: 2%;
}
#left{
    right:10%;
}
.zaslider{
    height:auto;
    position:absolute;
    top:8%;
    right:0;
}
.zaslider img{
    width:100%;
}