/* setting height 100% */
html, body {
    height: 100%;
    background-image: url("../img/Menu/pattern.png");
    background-repeat: repeat;
}
.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
    position:relative;
}
.row{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login{
    text-align: center;
}
.login div{
    margin:2% 0;
}
input{
    color:#fff;
}

