<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kolipinghouse</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="5DcRsUKG1WuDTIWmfeODXw8GvajM2omxy6RPsMZdsqo">
    <meta name="description" content="Restaurant im Kolpinghaus in Siegen mit Speisekarte, Adresse, Telefonnummer und Routenplaner für die  Anfahrt. Restaurant im Kolpinghaus Restaurant in Siegen">
	<meta name="keywords" content="Restaurant im Kolpinghaus, Siegen, Speisekarte, Adresse, deutsch, Telefonnummer, Karte, Anfahrt, Umgebungskarte, Routenplaner,Restaurant im Kolpinghaus Restaurant in Siegen">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Caveat:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    
    <!-- css styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/front-end/resources/css/material.amber-yellow.min.css">
    <link rel="stylesheet" href="/front-end/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front-end/resources/css/contacts.css">
    <link rel="stylesheet" href="/front-end/resources/css/menu.css">
    <link rel="stylesheet" href="/front-end/resources/css/gallery.css">
    <link rel="stylesheet" href="/front-end/resources/css/about-restourant.css">
    <link rel="stylesheet" href="/front-end/resources/css/side-bar.css">
    <link rel="stylesheet" href="/front-end/resources/css/slider.css">
    <link rel="stylesheet" href="/front-end/resources/css/style.css">
    <link rel="stylesheet" href="/front-end/resources/css/media-queries.css">

    <!-- js scripts -->
    <script src="/front-end/resources/js/jquery-1.11.3.min.js"></script>
    <script src="/front-end/resources/js/bootstrap.min.js"></script>
    <script src="/front-end/resources/js/jquery.swipable.min.js"></script>
    <script src="/front-end/resources/js/slider.js"></script>

    <script defer src="/front-end/resources/js/material.min.js"></script>
</head>