{% include 'header-admin.twig'%}
    <body>
        <div class="container fill-height">
            <div class="row">
                <div class="col-sm-12 login">
                    <div class="col-xs-12">
                        <img src="/front-end/resources/img/Menu/Logo.png" alt="">
                    </div>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-default">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>