<div class="col-md-12 headPic">
    <h2>Mediterrane Vielfalt im passenden Ambiente genießen.</h2>
</div>
<div class="col-md-12 bottomText">
<h3>&nbsp;</h3>
    <p>
        Die kroatische Küche ist so abwechslungsreich wie die Geschichte des Landes. 
        In den Gerichten spiegeln sich die Einflüsse unterschiedlichster Kulturen wider: 
        Römische Einflüsse sind genauso zu finden wie italienische, österreichische, 
        türkische und ungarische. Aber auch die Küche der einzelnen Regionen zeigt große 
        Unterschiede. Je nach dem lokalen Angebot findet man Rezepte mit viel Gemüse oder 
        Fleisch oder mit Meerestieren. Jeder wird hier sein Lieblingsgericht finden - da sind 
        wir uns ganz sicher.<br /><br />

        Viele Menschen reduzieren die Spezialitäten auf Ćevapčići oder Ražnjići, was der Vielfalt 
        der kroatischen Küche nicht gerecht wird. Aber überzeugen Sie sich selbst: In unserem 
        Restaurant Kolpinghaus verwöhnen wir Sie und Ihre Lieben mit einer Vielzahl an 
        kroatischen und mediterranen Spezialitäten. Und auch größere Gesellschaften, 
        wie zum Beispiel bei Geburtstags-, Familien- oder Betriebsfeiern, wissen unsere 
        mannigfaltige Küche zu schätzen. Unser Saal, der bis zu 50 Personen Platz bietet, 
        bildet das optimale Ambiente für jegliche Events mit kulinarischen Highlights.<br /><br />

        Und natürlich ist auch für Kurzweil gesorgt, gleich zwei Kegelbahnen stehen unseren Gästen zur Verfügung.<br /><br />

        Vor dem Restaurant stehen Ihnen großzügige Parkgelegenheiten für Pkw zur Verfügung. 
        Lassen Sie sich von der Vielfalt der kroatischen Küche in ihren Bann ziehen – und besuchen Sie uns!
    </p>
    {# <div id="sideBorder">
    </div> #}
</div>
{# <div class="col-md-4 schedule">
    <h3>Öffnungszeiten</h3>
    <div class="table-responsive">
        <table id="workingtime" class="table table-reflow">
            <tr>
                <td class="first">Montag</td>
                <td class="first">Ruhetag</td>
            </tr>
            <tr>
                <td>Dienstag</td>
                <td>Ruhetag</td>
            </tr>
            <tr>
                <td>Mittwoch</td>
                <td>Ruhetag</td>
            </tr>
            <tr>
                <td>Donnerstag</td>
                <td>Ruhetag</td>
            </tr>
            <tr>
                <td>Freitag</td>
                <td>17:00 - 21:00</td>
            </tr>
            <tr>
                <td>Samstag</td>
                <td>17:00 - 21:00</td>
            </tr>
            <tr>
                <td>Sonntag</td>
                <td>12:00 - 15:00</td>
            </tr>
            {# <tr>
                <td class="last">Sonntag</td>
                <td class="last">11:30 - 14:30 <br /> 17:00 - 22:00</td>
            </tr> 
        </table>

    </div> #}
</div>