<div id="contact" class="div">
    <div class="col-md-6 contactForm">
        <div class="col-sm-12 foothead">
            <h2>Schicken Sie uns eine Nachricht</h2>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="name">
            <label class="mdl-textfield__label" for="sample3">Dein Name...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="email" id="mail">
            <label class="mdl-textfield__label" for="sample4">E-mail...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input content-mail" type="text" rows= "3" id="sample5" ></textarea>
            <label class="mdl-textfield__label" for="sample5">Nachricht...</label>
        </div>
        <div class="butt">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect send">
            Absenden
        </button>
        </div>
    
    </div>
    <div class="col-md-6">   
        <div class="col-sm-12 foothead">
            <h2 id="contuct">Kontakt</h2>
        </div>
        <div class="col-sm-12" id="locationAdress">
            <p>Restaurant im Kolpighaus</p>
            <p>Weidenauer Straße 27</p>
            <p>57078 Siegen - Weidenau</p>
            <p>Deutschland</p>
            <br />
            <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 0271/ &nbsp; 770 &nbsp; 029 &nbsp;76</p>
        </div>
    </div>
    

</div>
<div class="rows">
    <div id="canvas1" class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2515.9496111231283!2d8.013327515508392!3d50.90614846230574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bc03331dc2c025%3A0x6cc5b6d2cddd89f9!2sRestaurant+im+Kolpinghaus!5e0!3m2!1sen!2s!4v1493747676134" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
<script src="/front-end/resources/js/mail.js"></script>
