    <div id="sideBar" class="container">
        <div class="row">
            <div class="col-md-12" id="logoContainer">
                <img src="/front-end/resources/img/Menu/Logo.png" alt="">
                <p id="kuche">Balkan-Kuche</p>
            </div>
        </div>
        <div class="row sideMenu">
            <div class="col-md-6 menuBlock">
                <h5><a href="#container">Home</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="#restourantContainer">Restourant</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="#speiseCarte">Menu</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="#Contact">Contact Us</a></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 timeTable">
                <p id="green">OFFNUNGSZEITEN</p>
                <p>#{{message}}#</p>
            </div>
        </div>
        <div class="row" id="bottom">
            <div class="col-md-8 bottom">
                <img src="/front-end/resources/img/MapIcon.png" alt="" id="icon">
                <p id="adress">Weidenauer Straße 27,Siegen</p>
            </div>

            <div class="col-sm-12 copyRights">
                <div class="rights">
                    CodingBad &copy; 2016
                </div>
                <div class="impressum">
                    <a href="impressum/index.html">
                        <span>Impressum</span>
                    </a>
                </div>
            </div>
        </div>
    </div>