    <div id="sideBar" class="container">
        <div class="row">
            <div class="col-md-12" id="logoContainer">
                <img src="/front-end/resources/img/Menu/Logo.png" alt="">
                <p id="kuche">Balkanküche</p>
            </div>
        </div>
        {% if page == 'index' %}
        <div class="row sideMenu">
            <div class="col-md-6 menuBlock">
                <h5><a href="#yell">Home</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="#aboutRestourant">Restourant</a></h5>
            </div>
            {# <div class="col-md-6 menuBlock">
                <h5><a href="#customDiv3">Menu</a></h5>
            </div> #}
            <div class="col-md-6 menuBlock">
                <h5><a href="#cont">Kontakt</a></h5>
            </div>
        </div>
        {% endif %}
        {% if page == 'impressum' %}
        <div class="row sideMenu">
            <div class="col-md-6 menuBlock">
                <h5><a href="/">Home</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="/">Restourant</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="/">Menu</a></h5>
            </div>
            <div class="col-md-6 menuBlock">
                <h5><a href="/">Kontakt</a></h5>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-8 timeTable">
            {% if time != 'Ruhetag' %}
                <p id="green">Heute haben wir von</p>
                <p>
                {% autoescape 'html' %}
                    {{time}}
                {% endautoescape %}
                </p>
                <p id="green">für Sie geöffnet.</p>
            {% endif %}
            {% if time == 'Ruhetag' %}
                <p id="green">Heute haben wir geschlossen</p>
            {% endif %}
            </div>
        </div>
        <div class="row" id="bottom">
            <div class="col-md-8 bottom">
                <img src="/front-end/resources/img/MapIcon.png" alt="" id="icon">
                <p id="adress">Weidenauer Straße 27,Siegen</p>
            </div>

            <div class="col-sm-12 copyRights">
                <div class="rights">
                    CodingBad &copy; 2016
                </div>
                <div class="impressum">
                    <a href="/impressum">
                        <span>Impressum</span>
                    </a>
                </div>
            </div>
        </div>
    </div>