$primary_blue: #373e58;
$secondary_yellow: #e0aa28;

.copyRights {
  border-top: solid 1pt $primary_blue;
  color: #fff;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}
