@import "./../styles/config.scss";

.caroselContainer {
  padding: 2rem;
  @include media-max-ml {
    padding: 1rem;
  }
  background: $secondary_yellow;
  .slideImage {
    height: 60vh;
  }
  .controlls {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 6%;
    right: 2%;
    background: no-repeat center url("/img/Slider/Controls/right.png");
  }
  .right {
    right: 8%;
    @include media-max-ml {
      right: 12%;
    }
    transform: rotate(180deg);
  }

  .legend {
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    width: 50%;
    color: white;
    padding: 0 1em;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: left;
    .title {
      border-bottom: solid 1pt $secondary_yellow;
      font-family: "Roboto", sans-serif;
      h1 {
        margin: 0.7rem 0;
        font-size: 2em;
        font-weight: 800;
        color: $secondary_yellow;
        font-family: "Roboto", sans-serif;
        @include media-max-ml {
          font-size: 1.2em;
        }
      }
    }
    .about {
      font-family: "Caveat", cursive;
      line-height: 1;
      font-size: 1.5em;
      @include media-max-ml {
        font-size: 1.1em;
      }
      margin: 0.7rem 0;
    }
  }
}
