/*Menu Left Side */
$primary_blue: #373e58;
$secondary_yellow: #e0aa28;

.accordionHead {
  padding: 0;
  width: 100%;
}
.mobileHeader {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  border-bottom: 3px solid $secondary_yellow;
  overflow: hidden;

  .mobileHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.sideBar {
  background-image: url("/img/Menu/pattern.png");
  background-repeat: repeat;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 26%;
  h5 {
    text-align: center;
    color: #fff;
  }
  h5:hover {
    color: $secondary_yellow;
  }
}
.logoContainer {
  width: 100%;
  height: 4rem;
  position: relative;
  padding-top: 1rem;
  text-align: center;
}

.subtitle {
  text-align: center;
  align-content: center;
  font-family: "Caveat", cursive;
  color: #fff;
  font-size: 24px;
}
.sideMenu {
  width: 50%;
  font-family: "Caveat", cursive;
  color: white;
  font-size: 24px;

  a {
    color: inherit;
    text-decoration: none;
    font-family: "Caveat", cursive;
    h5 {
      font-size: 20px;
    }
  }
}
.menuBlock {
  padding-bottom: 3%;
  padding-top: 3%;
  float: none;
  border-bottom: solid 1pt #e0aa28;
  &:last-child {
    border-bottom: none;
  }
}
.timeTable {
  margin: auto;
  float: none;
  text-align: center;
  color: white;
  p {
    margin-bottom: 0.2em;
    color: white;
  }
}

#bottom {
  position: fixed;
  bottom: 0;
  width: 26%;
}
.bottom {
  width: 100%;
  img {
    display: block;
    margin: auto;
  }
  p {
    text-align: center;
    color: white;
  }
}
ul.menuUnorderedList {
  list-style-type: none;
  padding: 0;
  li {
    text-align: center;
    cursor: pointer;
    a {
      display: block;
      color: $secondary_yellow;
      text-decoration: none;
      padding: 2% 0;
      &:hover {
        background-color: $secondary_yellow;
        color: #fff;
      }
    }
  }
}

.yella h5 a {
  color: $secondary_yellow !important;
}

.schedule {
  p {
    text-align: center;
    font-family: "Roboto Light", sans-serif;
  }
}
.green {
  color: green;
}

.red {
  color: red;
}

.white {
  color: white;
}
/*Menu Left Side :end*/
