/*Menu Left Side */
$primary_blue: #373e58;
$secondary_yellow: #e0aa28;

.sideMenu {
  width: 50%;
  font-family: "Caveat", cursive;
  color: white;
  font-size: 24px;
  .menuBlock {
    padding-bottom: 3%;
    padding-top: 3%;
    float: none;
    border-bottom: solid 1pt #e0aa28;
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
    font-family: "Caveat", cursive;
    cursor: pointer;
    h5 {
      font-size: 20px;
      cursor: pointer;
    }
  }
}
